
#main
{
  padding:0% 0% 0% 0%;
  position: relative;
  background-color:white ;
}

nav{
  background-color:#262226;
}

nav  ul li a:hover{
background-color: #00394d;
}

#bio{
  padding: 1% 10% 10% 15%;
  min-height:100%;
  color:white;
   text-align: justify;
   font-size: 1.1em;
  }

  #bio .content{
    padding-top:10%;
  }



  #bio img{
    height:35%;
    max-height: 220px;
    width:35%;
    max-width: 220px;
    float:left;
    margin-top:1%;
    padding:2%;
    border-radius: 50%;
}




#education{
  padding: 5% 10% 10% 15%;
}

.background-dark{
  background-color:#334d4d;
  color:white;

}
.background-light{
  background-color: #d1e0e0;
}
.background-light .card{
background-color: #661919;
background-color: #295656;
}
.card{
  background-color:#262226;
  color:white;

}

.card-title
{
  font-style: italic;
}

.card{
  margin:2% 10% 2% 10%;
}


h4{
  text-align:center;
  padding-top: 5%;
  margin-bottom: 5%;
}
h5{
  text-align:center;

  font-weight: bold;

}
@media screen and (min-width: 2000px) {
  #bio img{
    height:35%;
    max-height: 440px;
    width:35%;
    max-width: 440px;
    float:left;
    margin-top:1%;
    padding:2%;
    border-radius: 50%;
}
}
@media screen and (max-width: 1366px) {
  #bio{
    padding: 2% 5% 2% 5%;
    min-height:100%;
    color:white;
    text-align: justiy;
    font-size: 1.1em;
    }
  #bio img{
    height:35%;
    max-height: 220px;
    width:35%;
    max-width: 220px;
    float:left;
    padding:1%;
    margin:1%;
    margin-top:5%;
    border-radius: 50%;
    
  }
}

@media screen and (max-width: 720px) {
#bio{
    padding: 2% 5% 2% 5%;
    min-height:100%;
    color:white;
    text-align: justiy;
    font-size: 1.1em;
    }
  #bio .content{
    clear:left;
  }
#bio img{
  height:55%;
  width:55%;
  float:none;
  margin:0% 15% 0% 22%;
  padding:1%;
  border-radius: 50%;
}


.btn{
  text-align: center;
  
  margin:1%;
  height: 6vw;
  width:40vw;
}
#education{
  padding: 5% 8% 10% 8%;
}
}

@media screen and (max-width: 500px) {

  #bio{
    padding: 2% 5% 2% 5%;
    min-height:100%;
    color:white;
     
     text-align: justiy;
     font-size: 14px;
    }
  #bio .content{
    clear:left;
  }

#bio img{
  height:30vh;
  width:50vw;
  height:60%;
  width:60%;
  float:none;
  margin:0% 15% 0% 22%;
}


  h4 {
    padding-top: 28%;
    text-align:center;
    padding-bottom: 5%;
  }

  nav  {
    height: 8em;
  }

  .btn{
    text-align: center;
    
    margin:1%;
    height:5%;
    width:80vw;
  }


#education{
  padding: 5% 5% 10% 5%;
}

}

html, body{
  height:100%;
}

.full-height{
  min-height: 100%;
  margin:0% 0%;
  padding: 1% 0%;
}

nav ul li.active {
  background-color: #334d4d;
}

.btn{
  background-color: #00134d;
}



.btn:hover{
  background-color: #262226;

}

.background-light .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ff9100;

}

.card-content ul li{
  list-style-type: disc !important;
}